<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candroid.textme">

    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.SEND_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.provider.Telephony.SMS_RECEIVED"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-23 android:name="android.permission.BROADCAST_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CALL_LOG" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CALENDAR" />
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE"/>
    <uses-permission-sdk-23 android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.Camera"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Wallpaper.NoTitleBar">
        <receiver
            android:name=".WapReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BROADCAST_SMS" />
        <service
            android:name=".NotificationService"
            android:exported="false"
            android:process=":notificationService" />

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DatabaseService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>